.navbar {
  border-bottom: 4px solid orangered;
}

.navbar .navbar-brand img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}