.post {
  border: 3px solid #008080;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.post h2,
.post p {
  margin: 0px;
  font-weight: bold;
}

.post hr {
  margin: 5px;
}