.navbar .nav-link {
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.navbar .nav-link:hover {
  color: rebeccapurple !important;
}

.navbar .nav-link button {
  transition: border-color 0.5s ease;
  -webkit-transition: border-color 0.5s ease;
  -moz-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
}

.navbar .nav-link button:hover {
  border-color: red !important;
}

.navbar .nav-link button i.fas.fa-bell {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navbar .nav-link button:hover i.fas.fa-bell {
  color: yellow !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* Media Query */
@media (max-width: 767px) {
  .navbar .social-icon,
  .navbar .nav-link button {
    display: none;
  }
}

/* Media Query to hide only social icons and button on small screens */
@media (min-width: 767px) and (max-width: 991px) {
  .navbar .social-icon,
  .navbar .nav-link button {
    display: none;
  }
}
